% Copyright 2022-2024 ETSI SDG TeraFlowSDN (TFS) (https://tfs.etsi.org/)
%
% Licensed under the Apache License, Version 2.0 (the "License");
% you may not use this file except in compliance with the License.
% You may obtain a copy of the License at
%
%      http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS,
% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
% See the License for the specific language governing permissions and
% limitations under the License.

{erl_opts, [debug_info]}.

{deps, [
    grpcbox,
    jsx,
    {pcep_server, {git, "https://github.com/stritzinger/pcep_server.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/dev.config"},
    {apps, [epce, tfte, tfpb, grpcbox]}
]}.

{project_app_dirs, ["apps/*", "../../proto/src/erlang"]}.

{relx, [
    {release, {tfte, "1.0.0"}, [
        runtime_tools,
        epce,
        grpcbox,
        jsx,
        tfpb,
        tfte
    ]},
    {vm_args_src, "config/vm.args.src"},
    {sys_config_src, "config/sys.config.src"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.
